/* Header */

.header {
    background-color: $background-alternative-color;
    flex: 0 0 auto;
    border-bottom: 3px solid $accent-color;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;

    .site-header {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-top: 1rem;
        padding: 1rem;
    }
}

.title {
    padding: 0;

    .title * {
        color: #111;
        
    }

    a {
        text-decoration: none;
    }
}
