/* Navbar */

.nav ul li {
    a {
        font-weight: bold;
        text-decoration: none; 
    }

    a:hover {
        color: $accent-color;
        font-weight: bold;
        text-decoration: none;
    }
}

