/*new font awsome imports*/
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'navbar';
@import 'header';
@import 'footer';
@import 'typografy';
@import 'test_page';

/*typsnitt fron google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}
/* Placement */

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
