@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'navbar';
@import 'header';
@import 'footer';
@import 'typografy';
@import 'test_page';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    line-height: 1.4;
}

/* Placement */

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* title */

.title * {
    color: #111;
}

.logo {
    padding-right: 2em;
}