/*grund från dbwebb*/
html {
    font-size: 100%;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}

body {
    line-height: 1.2;
}

p {
    font-family: $font-body_text;
    color: $font-color;
    font-size: 1.25em;
    margin-bottom: 1.5rem; /* 1.2 * 1.25em vår baseline */
    letter: spacing 1px;
}

h1 {
    font-family: $font-heading;
    font-weight: bold;
    color: $font-color;
    font-size: 2.8em;
    margin-bottom: 3rem; /* baseline * 2, för att skapa mer utrymme */
}

h2 {
    font-family: $font-heading;
    font-weight: bold;
    color: $font-color;
    font-size: 2em;
    margin-bottom: 3rem; /* baseline * 2, för att skapa mer utrymme */
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
    font-family: $font-heading;
}

img {
    max-width: 100%;
}