$font-color: #000;
$link-color: #270344;
$font-alternative-color: #fff;
$accent-color: #a64dee;
$background-color: #d1e3fa;
$background-alternative-color: #97aec7;

$font-heading: 'Varela Round', sans-serif;
$font-body_text: 'Varela', sans-serif;