$font-color: #333;
$link-color: #270344;
$font-alternative-color: #fff;
$accent-color: #9512ff;
$background-color: #d1e3fa;
$background-alternative-color: #97aec7;

$font-heading: 'Varela Round', sans-serif;
$font-body-text: 'Varela', sans-serif;