{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
        <div class="main" role="main">

            <h2>Galleri</h2>

            <div class="grid gallery">
                {{ content }}
            </div>
        </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
