{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="flex-contanier">
            <div class="flex-one">
                <h3>Teknologier</h3>
                <ul>
                <li><a class="grow" href="css">CSS</a></li>
                <li><a class="grow" href="html">HTML</a></li>
                <li><a class="grow" href="javascript">Javascript</a></li>
                <li><a class="grow" href="php">PHP</a></li>
                <li><a class="grow" href="python">python</a></li>
                <li><a class="grow" href="git">GIT</a></li>
                <li><a class="grow" href="sqlite">SQLite</a></li>
                </ul>
            </div>
                {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
