{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
        <div class="main" role="main">
            <div class="landingpage">
                {{ content }}
            </div>
            <div class="grid wrapper">
                <div class="head">
                    <h2>TECHNOLOGIES</h2>
                    </div>
                    <div class="css-box">
                        <a href="technology/css">CSS</a>
                    </div>
                    <div class="html-box">
                        <a href="technology/html">HTML</a>
                    </div>
                    <div class="javascript-box">
                        <a href="technology/javascript">Javascript</a>
                    </div>
                    <div class="php-box">
                        <a href="technology/php">PHP</a>
                    </div>
                    <div class="python-box">
                        <a href="technology/python">python</a>
                    </div>
                    <div class="git-box">
                        <a href="technology/git">GIT</a>
                    </div>
                    <div class="sqlite-box wide">
                        <a href="technology/sqlite">SQLite</a>
                    </div>
            </div>
        </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
