
.grid { display: grid; }

/* --------------- Layout --------------- */

.grid {
    margin: 0 auto;
    grid-template-columns: 220px auto;
    grid-template-rows: 100px auto;
}

/* --------------- Header --------------- */

.header-analysis {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin: 1rem;
    padding-left:1rem;
}

.content {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    margin: 1rem;
    padding-left:1rem;
    overflow-y: auto;

    iframe { 
        width: 100%;
        height: 10rem;
    }

    a {
        text-align: left;
    }
}

/* --------------- Content  --------------- */

.top {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 1rem;
}

.mid {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 1rem;
}

.bottom {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 1rem;
}

.top,
.mid,
.bottom {
    border: $border;
    border-radius: 0.3em;
    padding-bottom: 1rem;

    h1,
    h2,
    h3,
    p {
        margin: 1rem;
    }

    a {
        text-align: left;
        margin-left: 1rem;
    }
}


.side-analysis {
    @include box-shaddow;

    background-color: $box-color;
    border: solid 1px $accent-color;
    border-radius: 0.3em;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
      
    h3 {
        margin: 1rem;
        margin-top: 2rem;
        padding-left:0;
    }

    p {
        font-size:medium;
        font-style: italic;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -0.7rem;
    }

    a {
        text-align:left;
    }
}

.grid .side-analysis ul {
    list-style: none;
    margin-left: 1rem;

    li {
        margin-bottom: 1rem;
    }

    a {
        font-family: $font-heading;
        color: $accent-color;
        font-weight: bold;
    }

    a:hover {
        color: $font-color;
    }
}

.analysis-pic img {
    size: 90%;
}

.analysis-pic {
    size: 90%;
    border: $border;
    border-radius: 0.3em;
    padding:1rem;
}

.design-flex {
    display:flex;
    flex-wrap: inherit;

    .design {
        display:block;
        margin: 0.5rem;
    }

    .design figcaption {
        text-align: center;
    }
}


/* --------------- Responsiveness --------------- */

@media screen and (max-width: 960px) {
    .main-analysis {
        padding: 0.5em;
        grid-gap: 5px;
    }

    .content {
        grid-column: 1 / 3;
    }

    .side-analysis {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .design-flex {
        flex-wrap: wrap;

    }

    .design-flex .design {
        margin: auto;
    }
}
