/* the basis of the style */

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

/* Placement */

body {
    background-color: $background-alternative-color;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: $background-color;
    border-radius: 0.3em;
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

img {
    max-width: 100%;
}

pre {
    font-style: italic;
    padding-top: 0.5rem;
}

figure {
    border: $border;
    border-radius: 0.3em;
    background: $box-color;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

figure img {
    display: block;
    margin: auto;
}

figcaption {
    color: $font-color;
    letter-spacing: 1px;
    font-style: italic;
    font-size:small;
    text-align: center;
}