code {
    margin: 0.6em 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 1.3em;
    background: $box-color;
    font-family: $font-body-text;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    color: $font-color;
    padding: 0 1em;
    border: $border;
    border-radius: 0.3em;
    background: $box-color;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}