/* style for technology.twig pages / flexbox */

.flex-contanier {
    display: flex;
}

/* flex-one style for links block */
.flex-one {
    @include box-shaddow;

    background-color: $box-color;
    width:20%;
    padding: 1em;

    h3 {
        font-size: 100%;
        font-weight:bolder;
    }

    a {
        font-size: 90%;
    }
}

/* flex-two style for text content block */
.flex-contanier .flex-one ul li {
    font-family: $font-heading;
    color: $accent-color;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

.flex-contanier a:hover {
    color: $font-color;
}

.flex-two {
    width: 80%;
    margin-left:2em;
    margin-right:2em;
    padding: 1em;

    pre {
        font-style: italic;
        padding-top: 0.5rem;
    }
}



@media screen and (max-width: 800px) {
    .main {
        .flex-contanier { flex-direction: column; }
    }

    .flex-one {
        display: none;
    }
    
    .flex-two,
    .flex-three {
        width: 100%;
        font-size: 90%;

        p {
            margin-right: 1rem;
        }
    }
}
