/*typsnitt fron google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Varela+Round&display=swap');

/*new font awsome imports*/
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/* color variables */
$font-color: #777;
$link-color: #6000ae;
$font-alternative-color: #555;
$accent-color: #7307cb;
$background-color: #07111b;
$box-color: #0a1826;
$border: 1px solid #464646;
$background-alternative-color: #0d2237;

/* font variables */
$font-heading: 'Varela Round', sans-serif;
$font-body-text: 'Varela', sans-serif;

@mixin box-shaddow {
    border: solid 1px $accent-color;
    box-shadow: none;
    border-radius: 0.3em;
    max-width: 100%;}

@mixin heading {
    font-family: $font-heading;
    color:$font-color;
}

@mixin body-text {
    font-family: $font-body-text;
    color:$font-color;
}