/*typsnitt fron google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Varela+Round&display=swap');

/*new font awsome imports*/
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/* color variables */
$font-color: #333;
$link-color: #681775;
$font-alternative-color: #fff;
$accent-color: #881c98;
$background-color: #cdcccca1;
$box-color: #ffffff2b;
$border: 1px solid #ccc;
$background-alternative-color: #8F9FC7;

/* font variables */
$font-heading: 'Varela Round', sans-serif;
$font-body-text: 'Varela', sans-serif;

$default-duration: .3s;

@mixin hideTapHighlightColor() {
    //Prevent highlight colour when element is tapped
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
    //Improve performance on mobile/tablet devices
    transform: translateZ(0);
}
  
@mixin improveAntiAlias() {
    //Improve aliasing on mobile/tablet devices
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin box-shaddow {
    border: solid 1px $accent-color;
    box-shadow: 0 1px 16px 5px  $accent-color;
    border-radius: 0.3em;
    max-width: 100%;
}

@mixin heading {
    font-family: $font-heading;
    color:$font-color;
}

@mixin body-text {
    font-family: $font-body-text;
    color:$font-color;
}

@mixin gradient {
    background: rgb(224,226,230);
    background: radial-gradient(circle, rgba(224,226,230,1) 0%, rgba(149,180,238,1) 55%, rgba(162,176,211,1) 100%);
}
