/*typsnitt fron google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Varela+Round&display=swap');

/*new font awsome imports*/
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/* color variables */
$font-color: #9a9a9a;
$link-color: #be72fc;
$font-alternative-color: #555;
$accent-color: #8f1feb;
$background-color: #07111baf;
$box-color: #0a1826;
$border: 1px solid #464646;
$background-alternative-color: #0d2237;

/* font variables */
$font-heading: 'Varela Round', sans-serif;
$font-body-text: 'Varela', sans-serif;

$default-duration: .3s;

@mixin hideTapHighlightColor() {
    //Prevent highlight colour when element is tapped
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
    //Improve performance on mobile/tablet devices
    transform: translateZ(0);
}
  
@mixin improveAntiAlias() {
    //Improve aliasing on mobile/tablet devices
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin box-shaddow {
    border: solid 1px $accent-color;
    box-shadow: none;
    border-radius: 0.3em;
    max-width: 100%;
}

@mixin heading {
    font-family: $font-heading;
    color:$font-color;
}

@mixin body-text {
    font-family: $font-body-text;
    color:$font-color;
}

@mixin gradient {
    background: rgb(224,226,230);
    background: radial-gradient(circle, rgb(18, 18, 19) 0%, rgb(28, 23, 57) 55%, rgb(17, 19, 23) 100%);
}
